      
      table {
          width: 100%; 
      }
      
      td {
          width: 25%; 
          padding: 10px; 
      }

      .center-heading {
          text-align: center;
      }

.table-container {
    max-height: 400px; /* Độ cao tối đa của bảng, điều chỉnh theo nhu cầu */
    overflow-y: scroll; /* Tạo thanh cuộn dọc */
}

.fixed-table {
    width: 100%;
    border-collapse: collapse; /*đường viền (border) của các ô trong một bảng HTML tương tác với nhau.*/
}

.fixed-table th, .fixed-table td {
    border: 1px solid #ccc;
    padding: 8px;
}
.btn {
    padding: 10px 20px; /* trên dưới trái phải */
    background-color: #bea3a3;
    color: white;
    border: none;
}

.container-fluid {
    background-color: #ccb1b1; /* Màu xám */
    white-space: 100vh; /* xử lý khoảng cách */
}
.row {
    width: 100%;
}

/* Thiết lập dropdown menu */
.dropdown-menu {
    display: none; /* ẩn khi chưa nhấn */
    list-style-type: none; /* loại bỉ các dấu ...*/
    padding: 0;
}

/* Hiển thị dropdown menu khi hover vào button */
.dropdown:hover .dropdown-menu { /* hover : di chuột qua --> display = block*/
    display: block;
}

/* Thiết lập các mục trong dropdown menu */

/* anh cac san pham //////////////////////////////////////////////////////*/
.table-container {
    max-height: 400px; /* Độ cao tối đa của bảng, điều chỉnh theo nhu cầu */
    overflow-y: scroll; /* Tạo thanh cuộn dọc */
}

.fixed-table {
    width: 100%;
    border-collapse: collapse; /*đường viền (border) của các ô trong một bảng HTML tương tác với nhau.*/
}

.fixed-table th, .fixed-table td {
    border: 1px solid #ccc;
    padding: 8px;
}


